<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>
  <% unless devise_error_messages!.empty? %>
    <div class="alert alert-danger" role="alert"><%= devise_error_messages! %></div>
  <% end %>

  <div class="form-group">
    <label for="email"><%= f.label :email %></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
  </div>

  <div class="form-group">
    <label for="password"><%= f.label :password %></label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="password_confirmation"><%= f.label :password_confirmation %></label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
