<% unless notice.nil? %>
	<div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>
<% unless alert.nil? %>
	<div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>