<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to raw("<i class=\"fa fa-beer\"></i>"), root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/beers">Beers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
    <% end %>
  </div>
</nav>