<h3>About This Project</h3>

<p>
	This project is to demonstrate some Ruby On Rails basics. The workflow of this project is intentionally awkward to show different methods of working with Ruby On Rails
</p>

<h3>Features Overview</h3>
<ul>
	<li>Basic formatting with Bootstrap</li>
	<li>Authentication with devise</li>
	<li>Icons with FontAwesome</li>
	<li>Development database sqlite3</li>
</ul>