<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
      <label for="email"><%= f.label :email %></label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
    </div>

  <div class="form-group">
      <label for="password"><%= f.label :password %></label>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

  <% if devise_mapping.rememberable? -%>
    <!-- <div class="form-group"> -->
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    <!-- </div> -->
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>
