<%= form_for @beer, :html => {class: "form-inlinee"} do |f| %>
	<div class="form-group">
	  <label for="name"><%= f.label :name %>&nbsp</label>
	  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"%>
	</div>
	<div class="form-group">
	  <label for="description"><%= f.label :description %>&nbsp</label>
	  <%= f.text_field :description, autocomplete: "description", class: "form-control"%>
	</div>
	<div class="actions">
	  <%= f.submit "Submit", class: "btn btn-primary" %>
	</div>
<% end %>