<h3>Add A Beer</h3>

<% if current_user %>
<%= render 'beers/form' %>
<% else %>
	<div class="alert alert-warning" role="alert">Please <%= link_to "Sign In", new_user_session_path%> To Add Beers</div>
<% end %>

<hr>

<div class="row">
	<% @beers.each_with_index do |beer, index| %>
	<% myLike = @beers[index].likes.find{|like| like["user_id"] == current_user.id}%>
		<div class="col-sm-3 form-group">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><%= beer.name %></h5>
					<h6 class="card-subtitle text-muted">Like Count: <%= @beers[index].likes.count%></h6>
					<p class="card-text"><%= beer.description %></p>
					<div class="row">
						<div class="col-sm-4">
							<%if myLike && myLike.like%>
								<%deletePath = "/beers/#{beer.id}/likes/#{myLike.id}"%>
								<%= link_to raw("<i title=\"Like This Beer\" class=\"fa fa-thumbs-up\"
									style=\"font-size: 20px;\"></i>"), deletePath , method: :delete %>
							<% else %>
								<%= link_to raw("<i title=\"Like This Beer\" class=\"fa fa-thumbs-o-up\"
									style=\"font-size: 20px;\"></i>"), beer_likes_path(beer), method: :post %>
							<% end %>
						</div>
						<div class="col-sm-4">
							
							<%= link_to raw("<i title=\"Edit This Beer\" class=\"fa fa-edit\"
								style=\"font-size: 20px;\"></i>"), edit_beer_path(beer) %>
						</div>
						<div class="col-sm-4">
							
							<%= link_to raw("<i title=\"Delete This Beer\" class=\"fa fa-trash\"
								style=\"font-size: 20px;\"></i>"), beer, method: :delete, data: { confirm: 'Are you sure?' } %>
						</div>
						<!-- <div class="col-sm-3 text-right">
							<i title="Dislike This Beer" class="fa fa-thumbs-o-down"
								style="font-size: 20px;"></i>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
